<div class="top-bar">
    <div class="logo-cont">
        <img src="assets/img/Ringotel_white2.svg" class="logo-img">
    </div>
    <nav class="top-menu">
        <ul class="nav pull-left menu-trigger">
            <li>
                <a href="" ng-click="layoutVm.triggerSidebar()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li>
                <a href="" class="text-uppercase" ng-click="layoutVm.triggerLangMenu()">{{topbarVm.lang}}</a>
            </li>
        </ul>
    </nav>
</div>
    