<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" translate>PARTIALS.COMPARE_PLANS.HEADER</h3>
</div>
<div class="modal-body">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th translate>PLANS.FREE</th>
					<th translate>PLANS.STANDARD</th>
					<th translate>PLANS.PREMIUM</th>
					<th translate>PLANS.TRIAL</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td translate>FEATURES.PBX_FEATURES</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.CORPORATE_MESSENGER</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.FILE_TRANSFER</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.AUTO_ATTENDANT</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.VOICEMAIL</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.HUNTING_GROUPS</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.PICKUP_GROUPS</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.ORG_GROUPS</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.VOICE_REC</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.GROUP_AUDIO_CALLS</td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.GROUP_VIDEO_CALLS</td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.MANAGED_CONFERENCES</td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.PUSH_TO_TALK</td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.HOTLINE_GROUPS</td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.IVR</td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
				<tr>
					<td translate>FEATURES.ACTIVE_DIRECTORY</td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-remove text-danger"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
					<td><i class="fa fa-check text-success"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>