.alert {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid transparent;
	border-radius: 0;

	&.alert-danger {
		color: #a94442;
		background-color: transparent;
		border-left-color: #ebccd1;
		border-left-width: 4px;
	}

	&.alert-info {
		color: #31708f;
		background-color: transparent;
		border-left-color: #bce8f1;
		border-left-width: 4px;
	}

	&.alert-warning {
		color: #8a6d3b;
		background-color: transparent;
		border-left-color: #faebcc;
		border-left-width: 4px;
	}

	&.alert-success {
		color: #3c763d;
		background-color: transparent;
		border-left-color: #d6e9c6;
		border-left-width: 4px;
	}
}