//
// Footer Styles
// --------------------------------------------------

.footer-cont {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 35px;
	background-color: #fff;
	padding: 10px 0;

}