.panel {
	border-radius: 0;
	// border: none;
	
	&.panel-default {
		border: 1px solid #f3f8f9;

		.panel-heading {
			background-color: #fff;
			border-bottom-color: #f3f8f9;
		}
	}
	
	.panel-heading {
		border-radius: 0;
		// padding-right: 10px;
		// padding-left: 10px;
	}

	.panel-title {
		margin-bottom: 7px;
	}

	.panel-body {
		margin-right: 10px;
		margin-left: 10px;
	}

	.panel-footer {
		padding: 0;
		background-color: #fff;
		border-top-color: #f3f8f9;

		.btn {
			border-radius: 0;
			border: none;

		}
		
	}

	.action-menu {

		.menu-item {
			border-right: 1px solid #f3f8f9;

			> a {
				display: block;
				padding: 15px 0;
			}

		}

		.menu-item:last-child {
			border-right: none;
		}
			
	}

	.progress {
		height: auto;
		margin-bottom: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-color: #c7c9ca;

		span {
			display: block;
			margin: 0 5px;
			padding: 7px 0;
		}
	}
}