<div class="row">
	<div class="col-sm-4">
		<div class="panel">
			<div class="panel-body text-center">
				<p>
					<img class="avatar img-circle" src="assets/img/user.svg">
				</p>
				<p>
					{{profileVm.profile.name}}
					<br>
					{{profileVm.profile.email}}
				</p>
			</div>
			<div class="panel-footer">
				<button type="submit" class="btn btn-block btn-primary" ng-click="profileVm.saveProfile()" translate>VIEWS.PROFILE.SAVE_PROFILE</button>
			</div>
		</div>
		
	</div>
	<div class="col-sm-8">
		<form>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="name" translate>VIEWS.PROFILE.NAME</label>
					<input class="form-control" type="text" ng-model="profileVm.profile.name" placeholder="{{ 'VIEWS.PROFILE.NAME' | translate }}" required />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="email" translate>VIEWS.PROFILE.EMAIL</label>
					<input class="form-control" type="email" name="name" ng-model="profileVm.profile.email" placeholder="{{ 'VIEWS.PROFILE.EMAIL' | translate }}" required />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="password" translate>VIEWS.PROFILE.PASSWORD</label>
					<input class="form-control" type="password" name="password" ng-model="profileVm.profile.password" placeholder="{{ 'VIEWS.PROFILE.PASSWORD' | translate }}" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="conf_password" translate>VIEWS.PROFILE.CONFIRM_PASSWORD</label>
					<input class="form-control" type="password" name="conf_password" ng-model="profileVm.confirmPass" placeholder="{{ 'VIEWS.PROFILE.CONFIRM_PASSWORD' | translate }}" />
				</div>
			</div>
		</form>
	</div>
</div>