<div class="cd-prising-panel">
	<div class="cd-pricing-header">
		<label>
		    <input type="radio" name="planId" ng-model="model" ng-value="plan.planId" ng-disabled="plan.planId === 'trial' && noTrial"><span translate>{{'PLAN.'+(plan.planId).toUpperCase() | translate}}</span>
		    <div class="cd-price">
				<span class="cd-value">{{plan.price}}</span>
				<span class="cd-currency">{{plan.currency}}</span>
				<span class="cd-duration" translate>PER_USER</span>
			</div>
		</label>
	</div>
	<div class="cd-pricing-body">
		<ul class="cd-pricing-features">
			<li><b>{{plan.customData.storelimit | convertBytes:'Byte':'GB'}}GB</b> <span translate>PLAN.INITIAL_STORAGE</span></li>
			<li><b>{{plan.customData.storageperuser | convertBytes:'Byte':'GB'}}GB</b> <span translate>PLAN.STORAGE_PER_USER</span></li>
			<li><b>24/7</b> <span translate>SUPPORT</span></li>
			<li><a href="#" translate>SHOW_ALL_FEATURES</a></li>
		</ul>
	</div>
</div>