<div class="table-bordered">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Basic</th>
				<th>Pro</th>
				<th>Advanced</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Standart IP PBX Features</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>Video Calls</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>SIP Trunking</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>Web Administration</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>Call Recording & Monitoring</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>Graphical Statistics</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>Call Detail Records</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>TLS\SSL Encoding</td>
				<td>•</td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>Groups</td>
				<td></td>
				<td>•</td>
				<td>•</td>
			</tr>
			<tr>
				<td>Managed conferences</td>
				<td></td>
				<td></td>
				<td>•</td>
			</tr>
			<tr>
				<td>Applications for Mac, PC, Android</td>
				<td></td>
				<td></td>
				<td>•</td>
			</tr>
			<tr>
				<td>Chat, group chat, files exchange, show screen feature</td>
				<td></td>
				<td></td>
				<td>•</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" class="btn btn-default">
						Select
						<input type="radio" name="editionType">
					</button>
				</td>
				<td>
					<button type="button" class="btn btn-default">
						Select
						<input type="radio" name="editionType">
					</button>
				</td>
				<td>
					<button type="button" class="btn btn-default">
						<input type="radio" name="editionType">
						Select
					</button>
				</td>
				
			</tr>
		</tbody>
	</table>
</div>