<div class="row">
	<div class="col-xs-12">
		<div class="form-container">
			<div class="logo-cont">
				<img src="assets/img/Ringotel 6.svg">
			</div>
			<form role="form" ng-hide="authVm.requestSent">
				<legend translate>VIEWS.REQUEST_PASSWORD.REQUEST_PASSWORD</legend>
				<div class="form-group">
					<input class="form-control" type="email" ng-model="authVm.email" placeholder="{{ 'VIEWS.REQUEST_PASSWORD.EMAIL' | translate }}" required />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block" ng-click="authVm.requestPasswordReset()" translate>VIEWS.REQUEST_PASSWORD.SUBMIT</button>
					<a href="#/login" class="btn btn-default btn-block" translate>VIEWS.REQUEST_PASSWORD.BACK</a>
				</div>
			</form>
			<div class="col-xs-12 text-center" ng-show="authVm.requestSent">
				<h4>
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x text-success"></i>
					  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
					</span>
				</h4>
				<h4 translate>VIEWS.REQUEST_PASSWORD.SIGN_UP_MESSAGE_2</h4>
				<hr>
				<a href="#/login" class="btn btn-default btn-block" translate>VIEWS.REQUEST_PASSWORD.BACK</a>
			</div>
		</div>
	</div>
</div>