<div class="row">
	<div class="col-xs-12">
		<div class="form-container">
			<div class="logo-cont">
				<img src="assets/img/Ringotel 6.svg">
			</div>
			<form role="form" class="reset-pass-form">
				<legend translate>VIEWS.RESET_PASSWORD.RESET_PASSWORD</legend>
				<div class="form-group">
					<input class="form-control" type="password" ng-model="authVm.password" placeholder="{{ 'VIEWS.RESET_PASSWORD.NEW_PASSWORD' | translate }}" required />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block" ng-click="authVm.resetPassword()" translate>VIEWS.RESET_PASSWORD.SUBMIT</button>
					<a href="#/login" class="btn btn-default btn-block" translate>VIEWS.RESET_PASSWORD.CANCEL</a>
				</div>
			</form>
		</div>
	</div>
</div>