<div class="row">
	<div class="col-xs-12">
		<div class="form-container">
			<div class="logo-cont">
				<img src="assets/img/Ringotel 6.svg">
			</div>
			<form role="form" class="login-form" ng-hide="authVm.verificationSent">
				<legend translate>VIEWS.SIGN_UP.SIGN_UP</legend>
				<div class="form-group">
					<input class="form-control" type="text" ng-model="authVm.name" placeholder="{{ 'VIEWS.SIGN_UP.NAME' | translate }}" required/>
				</div>
				<div class="form-group">
					<input class="form-control" type="email" ng-model="authVm.email" placeholder="{{ 'VIEWS.SIGN_UP.EMAIL' | translate }}" required/>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" ng-model="authVm.password" placeholder="{{ 'VIEWS.SIGN_UP.PASSWORD' | translate }}" required />
				</div>
				<div class="form-group">
					<input class="form-control" type="password" ng-model="authVm.confirm_password" placeholder="{{ 'VIEWS.SIGN_UP.CONFIRM_PASSWORD' | translate }}" required />
				</div>
				<div class="form-group">
					<a href="#/login" tabindex="0" translate>VIEWS.SIGN_UP.ALREADY_HAVE_ACCOUNT</a>
					<br><br>
					<p class="text-muted">
						<span translate>VIEWS.SIGN_UP.ACKNOWLEDGE</span> 
						<a href="" translate="">VIEWS.SIGN_UP.TERMS_OF_SERVICE</a> 
						<span translate>AND</span> 
						<a href="" translate>VIEWS.SIGN_UP.PRIVACY_POLICY</a>
					</p>
					<button type="submit" class="btn btn-primary btn-block" ng-click="authVm.signup()" translate>VIEWS.SIGN_UP.REGISTER</button>
				</div>
			</form>
			<div class="text-center" ng-show="authVm.verificationSent">
				<h4 translate>VIEWS.SIGN_UP.SIGN_UP_MESSAGE_1</h4>
				<hr>
				<a href="#/login" class="btn btn-default btn-block" translate>VIEWS.SIGN_UP.BACK</a>
			</div>
		</div>	
	</div>
</div>