<div class="row">
	<h4 class="col-xs-12" translate>VIEWS.PAYMENT.CHOOSE_PAYMENT_METHOD</h4>
	<div class="col-sm-3 col-xs-12" ng-repeat="method in payVm.paymentMethods">
		<method-item 
			model="payVm.paymentMethod" 
			method="method" 
			unselectable="payVm.isUnselectableMethod(method)" 
			select="payVm.selectMethod(method.id)"
		></method-item>
	</div>
</div>
<div class="row">
	<div class="col-sm-7" ng-show="payVm.cart.length">
		<h4 translate>VIEWS.PAYMENT.ORDER.ORDER</h4>
		<div class="panel">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th translate>VIEWS.PAYMENT.ORDER.DESCRIPTION</th>
							<th translate>VIEWS.PAYMENT.ORDER.AMOUNT</th>
							<th style="width: 5px"></th>
							<th style="width: 5px"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in payVm.cart track by $index">
							<!-- <td>{{$index+1}}</td> -->
							<td>{{ item.description }}</td>
							<td>{{ item.amount | number: 2 }} {{ item.currency }}</td>
							<td>
								<div ng-if="item.data && item.edit">
									<a ng-if="item.data.oid === 'new'" ng-href="#/instance/new?cart_item={{item.data.result.prefix}}">
										<i class="fa fa-edit"></i>
									</a>
									<a ng-if="item.data.oid !== 'new'" ng-href="#/instance/{{item.data.oid}}">
										<i class="fa fa-edit"></i>
									</a>
								</div>
							</td>
							<td ng-if="item.remove">
								<a href="" ng-click="payVm.removeCartItem($index)" class="text-danger">
									<i class="fa fa-remove text-danger"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<h4 translate>VIEWS.PAYMENT.AMOUNT</h4>
		<form id="payment-form">
			<div class="input-group">
				<span class="input-group-addon" id="payment-amount">{{payVm.customer.currency}}</span>
				<input type="text" class="form-control" ng-model="payVm.amount" placeholder="Amount" aria-describedby="payment-amount" required>
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit" ng-click="payVm.proceedPayment()" ng-disabled="!payVm.isEnough" translate>VIEWS.PAYMENT.PROCEED</button>
				</span>
			</div>
		</form>
	</div>
</div>