<div class="row">
	<div class="twelve columns">
		<form>
			<div class="four columns">
				<datepicker date-set="{{startDate}}" date-max-limit="{{endDate}}" selector="start-date">
					<!-- <label for="start-date" translate>FROM</label> -->
					<input type="text" name="start-date" class="start-date u-full-width" ng-model="startDate" placeholder="Choose start date">
				</datepicker>	
			</div>
			<div class="four columns">
				<datepicker date-set="{{endDate}}" date-min-limit="{{startDate}}" selector="end-date">
					<!-- <label for="end-date" translate>TO</label> -->
					<input type="text" name="end-date" class="end-date u-full-width" ng-model="endDate" placeholder="Choose end date">
				</datepicker>
			</div>
			<div class="four columns">
				<button type="submit" tabindex="0" ng-click="findRecords()" translate>FIND</button>
			</div>
		</form>
	</div>
</div>
<hr class="twelve columns">
<div class="row">
	<div class="twelve columns" ng-show="charges.length === 0">
		<h4 translate>NO_DATA_FOR_PERIOD</h4>
	</div>
	<div class="twelve columns" ng-show="charges.length !== 0">

		<table class="u-full-width">
			<thead>
				<tr>
					<!-- <th>Description</th> -->
					<th translate>AMOUNT</th>
					<th translate>CURRENCY</th>
					<th translate>BALANCE</th>
					<th translate>PREV_BALANCE</th>
					<th translate>DATE</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="charge in charges">
					<!-- <td>{{charge.description}}</td> -->
					<td>{{stringToFixed(charge.amount)}}</td>
					<td>{{charge.currency}}</td>
					<td>{{stringToFixed(charge.balance)}}</td>
					<td>{{stringToFixed(charge.prevBalance)}}</td>
					<td>{{parseDate(charge.createdAt)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>