<div class="row" ng-if="newBranch">
	<h4 class="text-divider" translate>CHOOSE_PLAN</h4>
	<div class="twelve columns">
		<div class="cd-prising-wrapper">
			<div class="four columns" ng-repeat="plan in plans">
				<plan-item plan="plan" model="instance._subscription.planId"></plan-item>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h4 class="text-divider" translate>CONFIGURE_BRANCH</h4>
	<form novalidate name="branchSettings" id="branch-settings">
		<div class="row">
			<div class="eight columns">
				<label for="name" translate>INSTANCE.COMPANY_NAME</label>
				<input class="u-full-width" type="text" name="name" ng-model="instance.result.name" required />
				<p class="help-block"><span translate>E_G</span>: "SmileSoft"</p>
			</div>
			<div class="four columns">
				<label for="prefix" translate>INSTANCE.BRANCH_PREFIX</label>
				<input class="u-full-width" type="text" name="prefix" ng-model="instance.result.prefix" ng-model-options="{updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0}}" ng-readonly="!newBranch" validprefix required />
    			<p class="col-xs-12 text-danger" ng-if="newBranch" ng-show="branchSettings.prefix.$error.validprefix" translate>PREFIX_EXISTS</p>
				<p class="col-xs-12 help-block"><span translate>E_G</span>: "office" or "domain"</p>
				<!-- <a tabindex="0" role="button" class="col-xs-12" data-toggle="popover" data-trigger="focus" data-content="{{ 'INSTANCE.BRANCH_PREFIX_HELPER' | translate }}" popoverable><span translate>WHAT_IS_THIS</span>?</a> -->
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<label for="numPool" translate> INSTANCE.NUMBERING_PLAN</label>
				<input class="u-full-width" type="text" name="numPool" ng-model="numPool" required numpool />
				<p class="help-block"><span translate>E_G</span>: "200-210" or "200,205-210,310-350"</p>
				<!-- <a tabindex="0" role="button" class="u-full-width" data-toggle="popover" data-trigger="focus" data-content="{{ 'INSTANCE.NUMBERING_PLAN_HELPER' | translate }}" popoverable><span translate>WHAT_IS_THIS</span>?</a> -->
			</div>
			<div class="four columns">
				<label for="lang" translate>INSTANCE.INTERFACE_LANGUAGE</label>
				<select class="u-full-width" name="lang" tabindex="0" ng-model="instance.result.lang" ng-options="language.value as language.name for language in languages" /></select>
				<!-- <a tabindex="0" role="button" class="col-xs-12" data-toggle="popover" data-trigger="focus" data-content="{{ 'INSTANCE.INTERFACE_LANGUAGE_HELPER' | translate }}" popoverable><span translate>WHAT_IS_THIS</span>?</a> -->
			</div>
		</div>
		<div class="row">
			<label>Server location</label>
			<label>
			    <input type="radio" value="germany" name="sid" ng-model="instance.sid" ng-disabled="!newBranch">
			    <span class="label-body">Germany</span>
			</label>
			<label>
			    <input type="radio" value="uk" name="sid" ng-model="instance.sid" ng-disabled="!newBranch">
			    <span class="label-body">Ukraine</span>
			</label>
			<!-- <a tabindex="0" role="button" class="col-xs-12" data-toggle="popover" data-trigger="focus" data-content="{{ 'INSTANCE.BRANCH_SID_HELPER' | translate }}" popoverable><span translate>WHAT_IS_THIS</span>?</a> -->
		</div>
		<div class="row">
			<div class="six columns">
				<label for="adminpass" translate>INSTANCE.ADMIN_PASSWORD</label>
				<input class="u-full-width" type="password" name="adminpass" ng-model="instance.result.adminpass" ng-required="{{newBranch}}" />
				<!-- <a tabindex="0" role="button" class="col-xs-12" data-toggle="popover" data-trigger="focus" data-content="{{ 'INSTANCE.ADMIN_PASSWORD_HELPER' | translate }}" popoverable><span translate>WHAT_IS_THIS</span>?</a> -->
			</div>
			<div class="six columns">
				<label for="adminpassConfirm" translate>INSTANCE.ADMIN_PASSWORD_CONFIRM</label>
				<input class="u-full-width" type="password" id="adminpassConfirm" ng-model="confirmPass" />
			</div>
		</div>
	</form>
</div>
<nav class="sticky-nav bottom-nav white-color-bgr semi-transparent">
	<ul class="nav-list">
		<li ng-if="!newBranch">
			<button type="submit" class="button button-primary" form="branch-settings" tabindex="0" ng-click="saveInstance()" translate>SAVE</button>
		</li>
		<li ng-if="newBranch">
			<button type="submit" class="button button-default" form="branch-settings" tabindex="0" ng-click="proceed()" translate>PROCEED</button>
		</li>
		<li>
			<a href="#/dashboard" type="button" tabindex="0" translate>CANCEL</a>
		</li>
	</ul>
</nav>