<form role="form" class="action-form login-form" novalidate>
	<div class="row">
		<div class="twelve columns">
			<label for="username" translate>EMAIL</label>
			<input type="email" class="u-full-width" name="username" ng-model="email" required/>
			<label for="password" translate>PASSWORD</label>
			<input type="password" class="u-full-width" name="password" ng-model="password"/>
			<br><br>
			<p class="error-msg">{{message}}</p>
			<div class="u-pull-left">
				<button class="button button-primary" ng-click="login()" translate>LOGIN</button>
			</div>
			<div class="u-pull-right">
				<a href="#/request-password-reset" tabindex="0" translate>FORGOT_PASSWORD</a><br>
				<a href="#/signup" tabindex="0" translate>SIGN_UP</a>
			</div>
		</div>	
	</div>
</form>	
