<div class="row" ng-show="cart.length">
	<h4 class="text-divider" translate>ORDER</h4>
	<div class="twelve columns">
		<table class="u-full-width">
			<thead>
				<tr>
					<th translate>DESCRIPTION</th>
					<th translate>AMOUNT</th>
					<th style="width: 5px"></th>
					<th style="width: 5px"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cart track by $index">
					<!-- <td>{{$index+1}}</td> -->
					<td>{{item.description}}</td>
					<td>{{item.amount}}{{item.currency}}</td>
					<td>
						<a ng-if="item.data.oid === 'new'" ng-href="#/instance/new?cart_item={{item.data.result.prefix}}">
							<i class="fa fa-edit"></i>
						</a>
						<a ng-if="item.data.oid !== 'new'" ng-href="#/instance/{{item.data.oid}}">
							<i class="fa fa-edit"></i>
						</a>
					</td>
					<td>
						<a href="" ng-click="removeFromArray(cart, $index)" class="text-danger">
							<i class="fa fa-remove text-danger"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<br>
<div class="row">
	<h4 class="text-divider" translate>ADD_CREDITS</h4>
	<form novalidate id="payment-form">
		<div class="four columns">
			<label for="amount">
				<span translate>AMOUNT</span>
				<span class="pull-right">{{currentUser.currency}}</span>
			</label>
			<input class="u-full-width" type="number" name="amount" min="{{amount}}" ng-model="amount" required />
		</div>
	</form>
</div>
<br>
<div class="row">
	<h4 class="text-divider" translate>CHOOSE_PAYMENT_METHOD</h4>
	<form id="pmethod-form">
		<div class="twelve columns">
			<label>
			    <input type="radio" name="payment-method" ng-model="paymentMethod" ng-value="1">
				<span style="text-align:center"><i class="fa fa-credit-card"></i></span>
			    <span class="label-body" translate>CREDIT_CARD</span>
			</label>
			<label>
			    <input type="radio" name="payment-method" ng-model="paymentMethod" ng-value="2">
				<span style="text-align:center"><i class="fa fa-paypal"></i></span>
			    <span class="label-body">PayPal</span>
			</label>
			<label>
			    <input type="radio" name="payment-method" ng-model="paymentMethod" ng-value="3">
				<span style="text-align:center"><i class="fa fa-bitcoin"></i></span>
			    <span class="label-body">Bitcoin</span>
			</label>
			<label ng-show="cart.length">
			    <input type="radio" name="payment-method" ng-model="paymentMethod" ng-value="0" ng-disabled="currentUser.balance < amount">
			    <span class="label-body">Ringotel balance ({{currentUser.balance}}{{currentUser.currency}})</span>
			</label>
		</div>
	</form>
</div>
<nav class="sticky-nav bottom-nav white-color-bgr semi-transparent" ng-hide="newBranch">
	<ul class="nav-list">
		<li>
			<button type="submit" class="button button-primary" tabindex="0" form="payment-form" ng-click="proceedPayment()" ng-disabled="!isEnough" translate>PROCEED</button>
		</li>
		<li>
			<a href="" type="button" tabindex="0" ng-click="cancel()" translate>CANCEL</a>
		</li>
	</ul>
</nav>