<form role="form" class="action-form" ng-hide="requestSent">
	<div class="row">
		<div class="twelve columns">
			<label for="username" translate>EMAIL</label>
			<input class="u-full-width" type="email" name="username" ng-model="email"/>
			<br>
			<p class="error-msg">{{message}}</p>
			<div class="pull-left">
				<button class="button button-primary" ng-click="requestPasswordReset()" translate>SUBMIT</button>
			</div>
			<div class="pull-right">
				<a href="#/login" tabindex="0" translate>BACK</a><br>
			</div>
		</div>
	</div>
</form>	
<div class="twelve columns text-center" ng-show="requestSent">
	<h4>
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x text-success"></i>
		  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
		</span>
	</h4>
	<h4 translate>SIGN_UP_MESSAGE_2</h4>
	<h4><a href="#/login" translate>BACK</a></h4>
</div>