<form role="form" class="action-form" ng-hide="requestSent">
	<span class="input input--hoshi">
		<input class="input__field input__field--hoshi" type="email" name="username" ng-model="email" input-hoshi/>
		<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="username">
			<span class="input__label-content input__label-content--hoshi" translate>EMAIL</span>
		</label>
	</span>
	<br><br>
	<p class="error-msg">{{message}}</p>
	<div class="pull-left">
		<button class="btn btn-lg btn-primary" ng-click="requestPasswordReset()" translate>SUBMIT</button>
	</div>
	<div class="pull-right">
		<a href="#/login" tabindex="0" translate>CANCEL</a><br>
	</div>
</form>	
<form role="form" class="action-form" ng-show="requestSent">
	<h3 translate="SIGN_UP_MESSAGE_2">.</h3>
</form>