<form role="form" class="action-form" ng-hide="requestSent">
	<div class="row">
		<div class="twelve columns">
			<label for="username" translate>EMAIL</label>
			<input class="u-full-width" type="email" name="username" ng-model="email"/>
			<br><br>
			<p class="error-msg">{{message}}</p>
			<div class="pull-left">
				<button class="button button-primary" ng-click="requestPasswordReset()" translate>SUBMIT</button>
			</div>
			<div class="pull-right">
				<a href="#/login" tabindex="0" translate>CANCEL</a><br>
			</div>
		</div>
	</div>
</form>	
<form role="form" class="action-form" ng-show="requestSent">
	<h3 translate="SIGN_UP_MESSAGE_2">.</h3>
</form>