<form role="form" class="action-form login-form">
	<span class="input input--hoshi">
		<input class="input__field input__field--hoshi" type="password" name="password" ng-model="password" input-hoshi/>
		<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="password">
			<span class="input__label-content input__label-content--hoshi" translate>NEW_PASSWORD</span>
		</label>
	</span>
	<br><br>
	<p class="error-msg">{{message}}</p>
	<div class="pull-left">
		<button class="btn btn-lg btn-primary" ng-click="resetPassword()" translate>SUBMIT</button>
	</div>
	<div class="pull-right">
		<a href="#/login" tabindex="0" translate>CANCEL</a><br>
	</div>
</form>	