<form role="form" class="action-form login-form">
	<div class="row">
		<div class="twelve columns">
			<label for="password" translate>NEW_PASSWORD</label>
			<input class="u-full-width" type="password" name="password" ng-model="password"/>
			<br>
			<p class="error-msg">{{message}}</p>
			<div class="pull-left">
				<button class="button button-primary" ng-click="resetPassword()" translate>SUBMIT</button>
			</div>
			<div class="pull-right">
				<a href="#/login" tabindex="0" translate>CANCEL</a><br>
			</div>
		</div>
	</div>
</form>	