<div class="row">
	<div class="twelve columns">
		<form>
			<div class="four columns">
				<datepicker date-set="{{startDate}}" date-max-limit="{{endDate}}" date-format="MM/dd/yyyy HH:mm" selector="start-date">
					<!-- <label for="start-date" translate>FROM</label> -->
					<input type="text" name="start-date" class="start-date u-full-width" ng-model="startDate" placeholder="Choose start date">
				</datepicker>
			</div>
			<div class="four columns">
				<datepicker date-set="{{endDate}}" date-min-limit="{{startDate}}" date-format="MM/dd/yyyy HH:mm" selector="end-date">
					<!-- <label for="end-date" translate>TO</label> -->
					<input type="text" name="end-date" class="end-date u-full-width" ng-model="endDate" placeholder="Choose end date">
				</datepicker>
			</div>
			<div class="four columns">
				<button type="submit" tabindex="0" ng-click="findRecords()" translate>FIND</button>
			</div>
		</form>
	</div>
</div>
<hr class="twelve columns">
<div class="row">
	<div class="twelve columns" ng-if="transactions.length === 0">
		<h4 translate>NO_DATA_FOR_PERIOD</h4>
	</div>
	<div class="twelve columns" ng-show="transactions.length !== 0">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>ID</th>
					<th translate>DESCRIPTION</th>
					<th translate>AMOUNT</th>
					<th translate>CURRENCY</th>
					<th translate>STATUS</th>
					<th translate>CREATED</th>
					<th translate>UPDATED</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="trans in transactions">
					<td>{{trans.order_id}}</td>
					<td>{{trans.description}}</td>
					<td>{{trans.amount}}</td>
					<td>{{trans.currency}}</td>
					<td>{{trans.status}}</td>
					<td>{{parseDate(trans.createdAt)}}</td>
					<td>{{parseDate(trans.updatedAt)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>