<div class="twelve columns">
	<div class="text-center" ng-hide="verified">
		<h4>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x text-danger"></i>
			  <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
			</span>
		</h4>
		<h4 translate>SIGN_UP_MESSAGE_3</h4>
		<h4><a href="#/login" translate>BACK</a></h4>
	</div>
	<div class="text-center" ng-show="verified">
		<h4>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x text-success"></i>
			  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
			</span>
		</h4>
		<h4 translate>SIGN_UP_MESSAGE_4.P_1</h4>
		<h4 translate>SIGN_UP_MESSAGE_4.P_2</h4>
		<a href="#/login" class="button button-primary" translate>LOGIN</a>
	</div>
</div>